@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400;500&family=Lato&display=swap");
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-style: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

/* Force scrollbar */
html {
  overflow-y: scroll; }

/* Align radios and text inputs with their label */
input[type='radio'] {
  vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer; }

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit; }

em {
  font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle; }

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0; }

sup {
  top: -.7em; }

sub {
  bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */
.cf:before,
.cf:after {
  display: table;
  content: " "; }

.cf:after {
  clear: both; }

.cf {
  *zoom: 1; }

/*for all*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Dosis', sans-serif; }

a {
  display: inline-block;
  text-decoration: none; }

li {
  display: inline-block;
  list-style-type: none; }

/* Common styling */
.grey {
  color: #666; }

.cap {
  text-transform: capitalize; }

.up {
  text-transform: uppercase; }

.center {
  text-align: center; }

.bold {
  font-weight: bold; }

.transition {
  -webkit-transition: 1s all ease;
  transition: 1s all ease; }

/*for wrapper*/
.wrapper {
  max-width: 1350px;
  width: 71%;
  margin: 0 auto; }

/* toggleUp styling starts here */
.toggleUp {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: fixed;
  right: 20px;
  bottom: 20px;
  text-indent: -9999px;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  z-index: 20;
  -moz-justify-content: "flex-end";
  -ms-justify-content: "flex-end";
  -o-justify-content: "flex-end";
  -webkit-box-pack: "flex-end";
      -ms-flex-pack: "flex-end";
          justify-content: "flex-end";
  -webkit-transition: ".5s ease";
  transition: ".5s ease"; }
  .toggleUp::after {
    content: '\f077';
    padding: 12px 14px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 14px;
    opacity: .4;
    text-indent: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    text-indent: 0;
    -webkit-transition: ".5s ease";
    transition: ".5s ease"; }
  .toggleUp:hover, .toggleUp:hover::after {
    opacity: .8; }

.flex {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

header {
  width: 100%;
  background: #1259a2; }
  header .heading .wrapper {
    padding: 20px 0;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    header .heading .wrapper .logo a {
      position: relative;
      color: #fff;
      font-weight: 400;
      font-size: 38px;
      cursor: pointer;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
      header .heading .wrapper .logo a:hover {
        color: #c3c6c6; }
      header .heading .wrapper .logo a::after {
        content: '';
        width: 10px;
        height: 10px;
        border-top: 3px solid #46a5e2;
        border-right: 3px solid #46a5e2;
        position: absolute;
        top: 10px;
        right: -10px; }
    header .heading .wrapper form {
      width: 100%;
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -o-display: flex;
      display: -webkit-box;
      display: flex;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      -o-justify-content: flex-end;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    header .heading .wrapper input {
      padding: 8px 20px 8px 8px;
      border: none;
      font-size: 11px;
      outline: none;
      letter-spacing: .5x; }
    header .heading .wrapper button {
      padding: 7px 14px;
      border: none;
      background: #218ed4;
      color: #fff;
      font-size: 12px;
      outline: none;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
      header .heading .wrapper button:hover {
        background: #46a5e2; }
  header nav {
    margin: 13px 0;
    background: #218ed4; }
    header nav ul li {
      position: relative; }
      header nav ul li a {
        padding: 9px 11.5px;
        color: #dddfdf;
        font-family: sans-serif;
        font-size: 11px;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }
        header nav ul li a:hover {
          background-color: #46a5e2; }
      header nav ul li a:after {
        content: '';
        width: 1px;
        height: 13px;
        position: absolute;
        top: 9px;
        right: -2px;
        background: #72bae9; }
      header nav ul li:last-child a:after {
        width: 0; }
  header .menu,
  header .close {
    display: none;
    cursor: pointer; }

main .wrapper {
  margin: 20px auto;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  main .wrapper .information {
    width: 72%; }
    main .wrapper .information .banner {
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid #dddfdf;
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -o-display: flex;
      display: -webkit-box;
      display: flex;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      -o-align-items: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      main .wrapper .information .banner .banner-content {
        width: 45%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 14px 20px; }
        main .wrapper .information .banner .banner-content small {
          color: #333;
          font-weight: 600;
          font-size: 12px;
          letter-spacing: .3px; }
        main .wrapper .information .banner .banner-content a {
          margin-top: 6px;
          display: block;
          color: #218ed4;
          font-weight: 500;
          font-size: 17px;
          letter-spacing: .5px;
          -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
          font-size: 24px; }
          main .wrapper .information .banner .banner-content a:hover {
            color: #13537c; }
        main .wrapper .information .banner .banner-content span {
          font-size: 11.5px;
          color: #979797;
          font-family: "Lato", sans-serif;
          font-size: 11px; }
        main .wrapper .information .banner .banner-content p {
          margin-top: 4px;
          color: #666666;
          font-weight: 600;
          font-size: 11px;
          letter-spacing: .3px;
          line-height: 15px; }
      main .wrapper .information .banner figure {
        width: 55%; }
        main .wrapper .information .banner figure img {
          width: 100%; }
  main .wrapper aside {
    width: 28%; }

.news {
  padding: 15px 0;
  border-top: 1px solid #dddfdf;
  border-bottom: 1px solid #dddfdf; }
  .news ul {
    gap: 12px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: flex; }
    .news ul li {
      width: 33.33%;
      height: 300px;
      padding-right: 12px;
      border-right: 1px solid #dddfdf; }
      .news ul li figure {
        margin-bottom: 5px; }
      .news ul li:last-child {
        border: none; }
      .news ul li small {
        color: #333;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: .3px; }
      .news ul li a {
        padding-bottom: 2px;
        margin-top: 6px;
        display: block;
        color: #218ed4;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: .5px;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }
        .news ul li a:hover {
          color: #13537c; }
      .news ul li span {
        color: #979797;
        font-family: "Lato", sans-serif;
        font-size: 11px; }
      .news ul li p {
        margin-top: 5px;
        color: #666666;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: .3px;
        line-height: 15px; }

main .wrapper {
  margin: 20px auto;
  gap: 20px;
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: -webkit-box;
  display: flex;
  -moz-align-items: flex-start;
  -ms-align-items: flex-start;
  -o-align-items: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  main .wrapper .information {
    width: 72%; }
    main .wrapper .information .banner {
      width: 100%;
      margin-bottom: 15px;
      border: 1px solid #dddfdf;
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -o-display: flex;
      display: -webkit-box;
      display: flex;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      -o-align-items: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      main .wrapper .information .banner .banner-content {
        width: 45%;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        padding: 14px 20px; }
        main .wrapper .information .banner .banner-content small {
          color: #333;
          font-weight: 600;
          font-size: 12px;
          letter-spacing: .3px; }
        main .wrapper .information .banner .banner-content a {
          margin-top: 6px;
          display: block;
          color: #218ed4;
          font-weight: 500;
          font-size: 17px;
          letter-spacing: .5px;
          -webkit-transition: 0.5s ease;
          transition: 0.5s ease;
          font-size: 24px; }
          main .wrapper .information .banner .banner-content a:hover {
            color: #13537c; }
        main .wrapper .information .banner .banner-content span {
          font-size: 11.5px;
          color: #979797;
          font-family: "Lato", sans-serif;
          font-size: 11px; }
        main .wrapper .information .banner .banner-content p {
          margin-top: 4px;
          color: #666666;
          font-weight: 600;
          font-size: 11px;
          letter-spacing: .3px;
          line-height: 15px; }
      main .wrapper .information .banner figure {
        width: 55%; }
        main .wrapper .information .banner figure img {
          width: 100%; }
    main .wrapper .information .show {
      width: 10%;
      padding: 7px 35px;
      margin: 0 auto;
      background: #218ed4;
      color: #fff;
      font-weight: 500;
      font-size: 12px;
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -o-display: flex;
      display: -webkit-box;
      display: flex;
      -moz-justify-content: center;
      -ms-justify-content: center;
      -o-justify-content: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
      main .wrapper .information .show:hover {
        background: #46a5e2; }
  main .wrapper aside {
    width: 28%; }

.news {
  padding: 15px 0;
  border-top: 1px solid #dddfdf;
  border-bottom: 1px solid #dddfdf; }
  .news ul {
    gap: 12px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    -o-display: flex;
    display: -webkit-box;
    display: flex; }
    .news ul li {
      width: 33.33%;
      height: 300px;
      padding-right: 12px;
      border-right: 1px solid #dddfdf; }
      .news ul li figure {
        margin-bottom: 5px; }
      .news ul li:last-child {
        border: none; }
      .news ul li small {
        color: #333;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: .3px; }
      .news ul li a {
        padding-bottom: 2px;
        margin-top: 6px;
        display: block;
        color: #218ed4;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: .5px;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }
        .news ul li a:hover {
          color: #13537c; }
      .news ul li span {
        color: #979797;
        font-family: "Lato", sans-serif;
        font-size: 11px; }
      .news ul li p {
        margin-top: 5px;
        color: #666666;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: .3px;
        line-height: 15px; }

.must-see {
  margin: 15px auto; }
  .must-see h2 {
    color: #218ed4;
    font-weight: 400;
    font-size: 26px; }
  .must-see .slider {
    width: 100%;
    padding-bottom: 20px;
    margin: 15px auto;
    border-bottom: 1px solid #dddfdf;
    position: relative;
    overflow-x: hidden; }
    .must-see .slider .slick-slide {
      margin-right: 16px; }
    .must-see .slider .slick-prev {
      left: 0; }
      .must-see .slider .slick-prev::after {
        content: '\f053'; }
    .must-see .slider .slick-next {
      right: 0; }
      .must-see .slider .slick-next::after {
        content: '\f054'; }
    .must-see .slider .slick-prev,
    .must-see .slider .slick-next {
      padding: 0 10px;
      border: none;
      position: absolute;
      top: 0;
      bottom: 0;
      z-index: 10;
      background-color: #ffffff80;
      font-size: 0;
      outline: none;
      -webkit-transition: 0.5s ease;
      transition: 0.5s ease; }
      .must-see .slider .slick-prev::after,
      .must-see .slider .slick-next::after {
        color: #979797;
        font-size: 18px;
        font-family: "Font Awesome 5 Free";
        font-weight: 600;
        text-indent: 0; }
      .must-see .slider .slick-prev:hover,
      .must-see .slider .slick-next:hover {
        background: #b4b3b380; }
    .must-see .slider li {
      width: 33.33%; }
      .must-see .slider li small {
        -webkit-display: flex;
        -moz-display: flex;
        -ms-display: flex;
        -o-display: flex;
        display: -webkit-box;
        display: flex;
        -moz-align-items: center;
        -ms-align-items: center;
        -o-align-items: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        color: #333;
        font-weight: 600;
        font-size: 12px;
        letter-spacing: .3px; }
        .must-see .slider li small a {
          margin: 10px 8px 0 0;
          color: #333; }
          .must-see .slider li small a::after {
            content: '';
            width: 1px;
            height: 20px;
            margin-left: 8px;
            border-right: 1px solid #979797; }
          .must-see .slider li small a:nth-child(2)::after {
            border: none; }
      .must-see .slider li > a {
        margin-top: 6px;
        display: block;
        color: #218ed4;
        font-weight: 500;
        font-size: 17px;
        letter-spacing: .5px;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }
        .must-see .slider li > a:hover {
          color: #13537c; }

footer {
  position: relative;
  background: #1259a2; }
  footer .fContent .wrapper {
    padding: 25px 0 55px 0; }
    footer .fContent .wrapper .fLogo .logo {
      padding: 0 0 5px 0;
      margin: 0;
      border-bottom: 1px solid #4999eb; }
      footer .fContent .wrapper .fLogo .logo a {
        position: relative;
        color: #fff;
        font-weight: 400;
        font-size: 30px;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }
        footer .fContent .wrapper .fLogo .logo a::after {
          content: '';
          width: 9px;
          height: 8px;
          border-top: 2px solid #328ce8;
          border-right: 2px solid #328ce8;
          position: absolute;
          top: 3px;
          right: -10px; }
        footer .fContent .wrapper .fLogo .logo a:hover {
          color: #a8aeae; }
    footer .fContent .wrapper .fLogo small {
      letter-spacing: .3px; }
    footer .fContent .wrapper > ul {
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -o-display: flex;
      display: -webkit-box;
      display: flex;
      -moz-align-items: flex-start;
      -ms-align-items: flex-start;
      -o-align-items: flex-start;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      footer .fContent .wrapper > ul > li {
        width: 100%;
        padding-right: 90px;
        margin-right: 20px;
        color: #fff; }
        footer .fContent .wrapper > ul > li small {
          padding-top: 40px;
          color: #fff;
          font-size: 12px; }
          footer .fContent .wrapper > ul > li small a {
            color: #fff;
            font-family: 'Times New Roman', Times, serif;
            font-weight: 100;
            font-size: 12px; }
            footer .fContent .wrapper > ul > li small a:hover {
              color: #c3c6c6;
              -webkit-transition: 0.5s ease;
              transition: 0.5s ease; }
        footer .fContent .wrapper > ul > li.links {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          margin-top: 25px; }
          footer .fContent .wrapper > ul > li.links h3 {
            font-weight: 400;
            margin-bottom: 10px;
            color: #fff;
            font-size: 14px; }
          footer .fContent .wrapper > ul > li.links > ul {
            line-height: 15px;
            -webkit-display: flex;
            -moz-display: flex;
            -ms-display: flex;
            -o-display: flex;
            display: -webkit-box;
            display: flex;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-flex-direction: column;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                    flex-direction: column; }
            footer .fContent .wrapper > ul > li.links > ul li a {
              color: #fff;
              font-size: 12px;
              letter-spacing: .6px; }
            footer .fContent .wrapper > ul > li.links > ul li a:hover {
              color: #c3c6c6;
              -webkit-transition: 0.5s ease;
              transition: 0.5s ease; }
        footer .fContent .wrapper > ul > li.social {
          -webkit-box-sizing: border-box;
                  box-sizing: border-box;
          margin-top: 25px; }
          footer .fContent .wrapper > ul > li.social h3 {
            margin-bottom: 10px;
            color: #fff;
            font-weight: 400;
            font-size: 14px; }
          footer .fContent .wrapper > ul > li.social ul {
            width: 10px;
            -webkit-display: flex;
            -moz-display: flex;
            -ms-display: flex;
            -o-display: flex;
            display: -webkit-box;
            display: flex; }
            footer .fContent .wrapper > ul > li.social ul li {
              width: 30px;
              height: 27px;
              padding: 0;
              margin: 0 15px 0 0;
              border-radius: 50%;
              background: #fff;
              -webkit-display: flex;
              -moz-display: flex;
              -ms-display: flex;
              -o-display: flex;
              display: -webkit-box;
              display: flex;
              -moz-align-items: center;
              -ms-align-items: center;
              -o-align-items: center;
              -webkit-box-align: center;
                  -ms-flex-align: center;
                      align-items: center;
              -moz-justify-content: center;
              -ms-justify-content: center;
              -o-justify-content: center;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center; }
              footer .fContent .wrapper > ul > li.social ul li.linkedin a::after {
                content: '\f0e1';
                color: #105194;
                font-family: "Font Awesome 5 Brands";
                font-weight: 600;
                font-size: 13px;
                text-indent: 0; }
              footer .fContent .wrapper > ul > li.social ul li.tweet a::after {
                content: '\f099';
                color: #328ce8;
                font-family: "Font Awesome 5 Brands";
                font-weight: 600;
                font-size: 13px;
                text-indent: 0; }
              footer .fContent .wrapper > ul > li.social ul li.youtube a::after {
                content: '\f04b';
                color: #e91d2e;
                font-size: 13px;
                font-family: "Font Awesome 5 Free";
                font-weight: 600;
                text-indent: 0; }
              footer .fContent .wrapper > ul > li.social ul li.face a::after {
                content: '\f39e';
                color: #1259a2;
                font-family: "Font Awesome 5 Brands";
                font-weight: 600;
                font-size: 13px;
                text-indent: 0; }
              footer .fContent .wrapper > ul > li.social ul li a {
                padding: 10px;
                font-size: 14px;
                font-size: 0; }
                footer .fContent .wrapper > ul > li.social ul li a:hover::after {
                  color: #747c7c;
                  -webkit-transition: 0.5s ease;
                  transition: 0.5s ease; }
  footer .fInfo {
    background: #0d4074; }
    footer .fInfo .wrapper {
      padding: 5px 0;
      -webkit-display: flex;
      -moz-display: flex;
      -ms-display: flex;
      -o-display: flex;
      display: -webkit-box;
      display: flex;
      -moz-align-items: center;
      -ms-align-items: center;
      -o-align-items: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      -o-justify-content: space-between;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      footer .fInfo .wrapper ul li {
        margin-right: 8px;
        position: relative; }
        footer .fInfo .wrapper ul li::after {
          content: '';
          width: 1px;
          height: 10px;
          position: absolute;
          top: 7px;
          right: -6px;
          background: #c3c6c6; }
        footer .fInfo .wrapper ul li a {
          color: #c3c6c6;
          font-family: sans-serif;
          font-size: 10px;
          -webkit-transition: 0.5s ease;
          transition: 0.5s ease; }
          footer .fInfo .wrapper ul li a:hover {
            color: #fff; }
      footer .fInfo .wrapper span {
        color: #c3c6c6;
        font-family: sans-serif;
        font-size: 10px;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease; }
/*# sourceMappingURL=style.css.map */