header {
    width: 100%;
    background: $primary;

    .heading .wrapper {
        padding: 20px 0;
        @include flex;
        @include vendor(justify-content, space-between);

        @include responsive($iphone) { padding: 15px 0 10px 0; }

        .logo a {
            position: relative; 
            color: $white;
            font-weight: 400;
            font-size: 38px;
            cursor: pointer;

            @include vendor(transition, .5s ease);

            @include responsive($iphone) { font-size: 24px; }

            &:hover { color: darken($light, 10%); }

            &::after {
                content: '';
                width: 10px;
                height: 10px;
                border-top: 3px solid lighten($secondary, 10%);
                border-right: 3px solid lighten($secondary, 10%);
                position: absolute;
                top: 10px;
                right: -10px;

                @include responsive($iphone) {
                    width: 8px;
                    height: 8px;
                    top: 0;
                }
            }
        }

        form {
            width: 100%;
            @include flex;
            @include vendor(justify-content, flex-end);

            @include responsive($custom-size) {
                div { width: 60%; }
            }

            input {
                padding: 8px 20px 8px 8px;
                border: none;
                font-size: 11px;
                outline: none;
                letter-spacing: .5x;
    
                @include responsive($iphone) {
                    width: 100%;
                    padding: 8px 0 8px 8px;
                }
            }
    
            button {
                padding: 7px 14px;
                border: none;
                background: $secondary;
                color: $white;
                font-size: 12px;
                outline: none;
                @include vendor(transition, .5s ease);
    
                @include responsive($iphone) { padding: 7px 8px; }
    
                &:hover { background: lighten($secondary, 10%); }
            }
        }
    }

    nav {
        margin: 13px 0;
        background: $secondary;

        @include responsive($iphone) {
            width: 50%;
            height: 100vh;
            margin: 0;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            background: $white;
            @include vendor(transition, .5s ease);
            @include vendor(transform, translateX(-200%));
        }

        @include responsive($custom-size) { width: 80%; }

        ul {
            @include responsive($iphone) {
                @include vendor(display, flex);
                @include vendor(flex-direction, column);
                @include vendor(align-items, center);
                position: relative;
                top: 80px;
            }

            li {
                position: relative;

                a {
                    padding: 9px 11.5px;
                    color: $light;
                    font-family: sans-serif;
                    font-size: 11px;
                    @include vendor(transition, .5s ease);
                    
                    @include responsive($iphone) { color: $dark; }
                    &:hover {
                        background-color: lighten($secondary, 10%);
                        background: $white;
                    }
                }

                a:after {
                    content: '';
                    width: 1px;
                    height: 13px;
                    position: absolute;
                    top: 9px;
                    right: -2px;
                    background: lighten($secondary, 20%);

                    @include responsive($iphone) {background: none; }
                }

                &:last-child a:after { width: 0; }
            }
        }
    }

    .showNav { @include vendor(transform, translateX(0)); }

    .menu, 
    .close { 
      display: none; 
      cursor: pointer;
    }

    @include responsive($iphone) {
        .menu {
            padding: 6px 10px;
            background: $secondary;
            font-size: 0;
            cursor: pointer;
            @include vendor(display, block);

            &::after {
                content: '\f0c9';
                margin-left: auto;
                color: $white;
                font-size: 20px;
                text-align: right;
                @include icon;
                @include vendor(display, flex);
                @include vendor(justify-content, flex-end);
            }
        }

        .close {
            padding: 5px 12px;
            margin-top: 20px;
            display: initial;
            float: right;
            background: $light;
            font-weight: 600;
        }
    }
}