main {
    .wrapper {
        margin: 20px auto;
        @include vendor(display, flex);
        @include vendor(align-items, flex-start);

        .information {
            width: 72%;

            .banner {
                width: 100%;
                margin-bottom: 15px;
                border: 1px solid $light;
                
                @include vendor(display, flex);
                @include vendor(align-items, flex-start);
                .banner-content {
                    width: 45%;
                    box-sizing: border-box;
                    padding: 14px 20px;

                    small { @include topic; }

                    a {
                        @include title;
                        font-size: 24px;
                    }

                    span {
                        font-size: 11.5px;
                        @include date;
                    }

                    p {
                        margin-top: 4px;
                        @include para;
                    }
                }
                figure {
                    width: 55%;
                    img { width: 100%; }
                }
            }
        }
        aside { width: 28%; }
    }
}

.news {
    padding: 15px 0;
    border-top: 1px solid $light;
    border-bottom: 1px solid $light;

    ul {
        gap: 12px;
        @include vendor(display, flex);

        li {
            figure { margin-bottom: 5px; }
            width: 33.33%;
            height: 300px;
            padding-right: 12px;
            border-right: 1px solid $light;

            &:last-child { border: none; }
            
            small { @include topic; }
            
            a {
                padding-bottom: 2px;
                @include title;
            }

            span { @include date;}
            
            p {
                margin-top: 5px;
                @include para;
            }
        }
    }
}
